# client properties
username testclient1
clientport 3626

# list of all servers
server1 tcp://127.0.0.1:8080
server2 tcp://localhost:8081
server3 tcp://localhost:8082

# Debug list
client.LookupServiceClient all
client.ConnectionServiceClient all
client.SendReceiveMiddleLayer all

# To faciliatate debugging,
# we can haz dummy recipient
# who'll simply respond with
# whatever messages we 'want'

#dummyrecipient true
