# This config file contains generic information used when a client 
# is spawned from the Puppet Master. 

stresstest true

# list of all servers
server1 tcp://127.0.0.1:8080
server2 tcp://localhost:8081
server3 tcp://localhost:8082

# Debug list
client.Client all
client.LookupServiceClient all
client.ConnectionServiceClient all
client.CalendarServiceClient all
client.PuppetClientService all

# To faciliatate debugging,
# we can haz dummy recipient
# who'll simply respond with
# whatever messages we 'want'

#dummyrecipient true
#puppetmaster tcp://localhost:10000
