# Properties
username PUPPETMASTER
puppetport 10000
generic_config /home/archie/repos/radical/client/generic.config
client_executable /home/archie/repos/radical/client/bin/Debug/client.exe

# list of all servers
server1 tcp://127.0.0.1:8080
server2 tcp://localhost:8081
server3 tcp://localhost:8082

# specific to instance
puppet.PuppetMasterService all
puppet.PuppetMaster all
puppet.PuppetConfigurationReader all
