# Properties
username PUPPETMASTER
puppetport 10000
generic_config /path/to/radical/client/generic.config
client_executable /path/to/radical/client/bin/Debug/client.exe
server_executable /path/to/radical/server/bin/Debug/server.exe
server_config_folder /path/to/radical/server/


# list of all servers
central-1 tcp://127.0.0.1:8080
central-2 tcp://127.0.0.1:8081
central-3 tcp://127.0.0.1:8082

# specific to instance
puppet.PuppetMasterService all
puppet.PuppetMaster all
puppet.PuppetConfigurationReader all
