# Properties
username server3
serverport 8082

# list of all servers
server1 tcp://127.0.0.1:8080
server2 tcp://127.0.0.1:8081
server3 tcp://127.0.0.1:8082

# specific to instance
server.UserTableServiceServer all
#comm.SendReceiveMiddleLayer all
server.ReplicationServiceServer all
#server.SequenceNumberServiceServer all

