# Properties
username central-1
serverport 8080

# list of all servers
central-1 tcp://127.0.0.1:8080
central-2 tcp://127.0.0.1:8081
central-3 tcp://127.0.0.1:8082

# specific to instance
#server.Server all
server.PuppetServerService all
server.UserTableServiceServer all
#comm.SendReceiveMiddleLayer all
#server.ReplicationServiceServer all
server.SequenceNumberServiceServer all

# puppet master address, only used when puppet controlled
puppetmaster tcp://127.0.0.1:10000
