# Properties
username server1
serverport 8080

# list of all servers
server1 tcp://localhost:8080
server2 tcp://localhost:8081
server3 tcp://localhost:8082

# specific to instance
#server.Server all
#server.UserTableServiceServer all
#comm.SendReceiveMiddleLayer all
server.ReplicationServiceServer all
server.SequenceNumberServiceServer all
