# Properties
username server2
serverport 8081

# list of all servers
server1 tcp://localhost:8080
server2 tcp://localhost:8081
server3 tcp://localhost:8082

# specific to instance
#server.UserTableServiceServer all
server.Server all 
#comm.SendReceiveMiddleLayer all
server.ReplicationServiceServer all
#server.SequenceNumberServiceServer all

